body{
	background-image: -webkit-linear-gradient(left top, #05070D 39%, #4C84ED 74%);




}

header{

	background-color: black;
	width: auto;
	height: 120px;


}


p.title-text{
	font: oblique bold 120% cursive; 
	margin-top: 45px;
	margin-right: 15px;
	float: right;
	color:#c2ef65;
	font-size: 55px;
	
	

}






div.div_img{
	position: absolute;
	width: 1225px;
	height: 518px;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
	border-top: 4px solid black;

	margin: 10px 130px; /*espacio externo */



	/*
	background-image:url('picks/1.jpg');
	background-size: 100%;/*poner la imagen al 100 */



}



img.principal{
	
	height: 503px;
	width: 1215px;
	padding: 5px 5px 5px 5px; /*espacio interno      top px -left px */

}
img.img-h{

	width: 200px;
	height: 120px;
}


